@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@300;400;700&family=Teko:wght@300;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }
  body::-webkit-scrollbar {
    width: 12px; }
  body::-webkit-scrollbar-track {
    background-color: #11427B20;
    border-radius: 2px; }
  body::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 5px; }

h1 {
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: calc(2vw + 1em); }
  @media (max-width: 800px) {
    h1 {
      font-size: calc(2vw + 1.8em); } }

h2 {
  font-weight: 400;
  font-size: calc(0.35vw + 1em); }
  @media (max-width: 800px) {
    h2 {
      font-size: calc(0.5vw + 1em); } }

.label-inputs {
  margin-left: 3px;
  color: white;
  font-weight: 600;
  width: max-content; }

.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.results {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 1.5em 0em; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
  color: #FEFEFE;
  padding: 3.5em 1em;
  text-align: center;
  transition: all 0.3s;
  gap: 10px;
  width: 100%; }

.footer__redes {
  margin: 0em 0.5em;
  gap: 10px;
  font-size: calc(1.5vw + 0.5em); }
  @media (max-width: 600px) {
    .footer__redes {
      font-size: calc(1.5vw + 1em); } }

.footer__icons {
  color: white;
  transition: all 0.3s; }
  .footer__icons:hover {
    transition: all 0.3s;
    color: #dd9782; }

.header {
  width: 100%; }
  .header :hover .header__content {
    cursor: pointer;
    background-color: #00000050; }
  .header__content {
    display: flex;
    justify-content: center;
    background-color: #00000080;
    transition: all 0.3s; }
  .header__content:hover {
    transition: all 0.3s;
    background-color: #00000050; }
  .header__title {
    background-color: #EC1D24;
    color: white;
    padding: 2px 10px;
    border-radius: 1px; }
  .header__img {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1140x_thumb/uploads/images/gallery/5beaba975bafe86f2c2b41c4/marvel-heroes_0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    transition: all 0.3s; }

.main {
  max-width: 1200px;
  margin: 2.5em 1em 3em 1em; }

.btn {
  padding: 5px 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px 5px #00000050;
  box-shadow: 4px 3px 8px -3px #00000050;
  font-size: calc(0.1vw + 0.95em);
  font-weight: 500; }
  .btn.btn-primary {
    background-color: #EC1D24;
    color: white; }
    .btn.btn-primary:disabled {
      background-color: #EC1D2490; }
  .btn.btn-secundary {
    background-color: #846f72;
    color: white; }
    .btn.btn-secundary:disabled {
      background-color: #846f7290; }
  .btn:disabled {
    cursor: default; }

.loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 200px; }

.loading-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; }

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
  text-align: center;
  font-weight: 600;
  cursor: pointer; }
  .card:hover .card__text {
    color: #c92a2f;
    transition: all 0.3s; }
  @media (max-width: 700px) {
    .card {
      width: calc(100% / 2 - (0.75em * 2));
      max-width: 720px; } }
  @media (max-width: 425px) {
    .card {
      width: 100%; } }
  .card__contImg {
    flex-grow: 1;
    padding: 0.5em;
    margin-bottom: 13px;
    width: 100%;
    height: 350px; }
    @media (max-width: 1000px) {
      .card__contImg {
        height: 250px; } }
    @media (max-width: 800px) {
      .card__contImg {
        height: 210px; } }
    @media (max-width: 700px) {
      .card__contImg {
        height: 380px; } }
    @media (max-width: 500px) {
      .card__contImg {
        height: 100%; } }
  .card__text {
    height: 80px;
    padding: 0em 0.5em; }

.cardDescription {
  display: flex;
  background-color: #00000010;
  padding: 1.5em;
  border-radius: 5px; }
  .cardDescription__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    @media (max-width: 670px) {
      .cardDescription__title {
        flex-direction: column; } }
  .cardDescription__info {
    margin: 0.4em 0em; }
  .cardDescription__contInfo {
    width: 100%;
    margin: 1em 1em 1em 2em; }
    @media (max-width: 670px) {
      .cardDescription__contInfo {
        margin: 1em 0em; } }
  .cardDescription__text {
    margin-top: 5px; }
  .cardDescription__img {
    width: 100%;
    -webkit-box-shadow: 4px 4px 20px 6px #9b9b9b;
    box-shadow: 4px 4px 20px 6px #9b9b9b; }
    @media (max-width: 670px) {
      .cardDescription__img {
        width: 70%; } }
    @media (max-width: 500px) {
      .cardDescription__img {
        width: 100%; } }

.card-characters {
  margin: 15px 9px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5 - 2 * 10px);
  text-align: center;
  font-weight: 600;
  cursor: pointer; }
  @media (max-width: 800px) {
    .card-characters {
      width: calc(100% / 3 - (0.75em * 2));
      max-width: 720px; } }
  @media (max-width: 700px) {
    .card-characters {
      width: calc(100% / 2 - (0.75em * 2));
      max-width: 720px; } }
  @media (max-width: 450px) {
    .card-characters {
      width: 100%; } }
  .card-characters__contImg {
    height: 250px;
    flex-grow: 1; }
    @media (max-width: 700px) {
      .card-characters__contImg {
        height: 300px; } }
    @media (max-width: 450px) {
      .card-characters__contImg {
        height: 400px; } }
  .card-characters__text {
    padding: 1em;
    border-top: 3px solid red;
    background-color: #000000;
    color: #fff;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
    height: 79px; }

.pagination {
  justify-content: center;
  border-radius: 5px;
  margin: 1.6em 0em 2em 0em;
  gap: 8px; }
  @media (max-width: 500px) {
    .pagination {
      flex-direction: column; } }

.searcher {
  padding: 1.2em 2em;
  border-radius: 5px;
  background-color: #222222;
  -webkit-box-shadow: 5px 5px 10px 5px #BDBDBD;
  box-shadow: 5px 5px 10px 5px #BDBDBD;
  display: grid;
  grid-template-columns: 3fr 1fr 100px;
  gap: 10px; }
  .searcher__selects {
    display: flex;
    gap: 10px; }
  .searcher__button {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin-top: 5px; }
  @media (max-width: 650px) {
    .searcher {
      display: flex;
      flex-direction: column; } }
  @media (max-width: 350px) {
    .searcher__selects {
      flex-direction: column; } }

.input-search {
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
  width: 100%;
  font-size: calc(0.1vw + 0.95em);
  margin-top: 3px; }

.select {
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
  font-size: calc(0.1vw + 0.95em);
  margin-top: 3px; }

.img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 15px 30px 1px #9b9b9b;
  box-shadow: 0px 14px 21px -4px #9b9b9b;
  transition: all 0.3s; }
  .img:hover {
    transform: translateY(-12px);
    transition: all 0.3s; }

.img-character {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 15px 30px 1px #9b9b9b;
  box-shadow: 0px 14px 21px -4px #9b9b9b;
  transition: all 0.3s; }
  .img-character:hover {
    transform: scale(1.1);
    transition: all 0.3s; }
